<nav class="nav">

  <ul class="nav-list">
      <li class="nav-item"><button (click)="changeFilter('all')" class="btn btn-header" >Ver todos</button></li>
      <li class="nav-item"><button (click)="changeFilter('normal')" class="btn btn-header normal" >Normal</button></li>
      <li class="nav-item"><button (click)="changeFilter('fire')" class="btn btn-header fire" >Fire</button></li>
      <li class="nav-item"><button (click)="changeFilter('water')" class="btn btn-header water" >Water</button></li>
      <li class="nav-item"><button (click)="changeFilter('grass')" class="btn btn-header grass" >Grass</button></li>
      <li class="nav-item"><button (click)="changeFilter('electric')" class="btn btn-header electric" >Electric</button></li>
      <li class="nav-item"><button (click)="changeFilter('ice')" class="btn btn-header ice">Ice</button></li>
      <li class="nav-item"><button (click)="changeFilter('fighting')" class="btn btn-header fighting" >Fighting</button></li>
      <li class="nav-item"><button (click)="changeFilter('poison')" class="btn btn-header poison" >Poison</button></li>
      <li class="nav-item"><button (click)="changeFilter('ground')" class="btn btn-header ground" >Ground</button></li>
      <li class="nav-item"><button (click)="changeFilter('flying')" class="btn btn-header flying" >Flying</button></li>
      <li class="nav-item"><button (click)="changeFilter('psychic')" class="btn btn-header psychic" >Psychic</button></li>
      <li class="nav-item"><button (click)="changeFilter('bug')" class="btn btn-header bug" >Bug</button></li>
      <li class="nav-item"><button (click)="changeFilter('rock')" class="btn btn-header rock">Rock</button></li>
      <li class="nav-item"><button (click)="changeFilter('ghost')" class="btn btn-header ghost" >Ghost</button></li>
      <li class="nav-item"><button (click)="changeFilter('dark')" class="btn btn-header dark" >Dark</button></li>
      <li class="nav-item"><button (click)="changeFilter('dragon')" class="btn btn-header dragon" >Dragon</button></li>
      <li class="nav-item"><button (click)="changeFilter('steel')" class="btn btn-header steel" >Steel</button></li>
      <li class="nav-item"><button (click)="changeFilter('fairy')" class="btn btn-header fairy" >Fairy</button></li>
  </ul>
</nav>
