<!-- <div class="card" style="width: 13rem;">
  <img [srcset]="extraerId( pokemonData.url) | ImagePoke" class="card-img-top" style="height: 150px;" alt="...">
  <div class="card-body">
    <h5 class="card-title"> {{ pokemonData.name | titlecase }} </h5>
    <p class="card-text"></p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div> -->



@if (pokemon) {



  <div class="pokemon" >
    <p class="pokemon-id-back">#{{  pokemon.id }}</p>
    <div class="pokemon-imagen">
      <img
        [srcset]= "pokemon | ImageNull"
        style="height: 150px"
        alt="Pikachu"
        [routerLink]="['/dashboard/info-pokemon/',pokemon.id]"
      />
    </div>
    <div class="pokemon-info">
      <div class="nombre-contenedor">
        <p class="pokemon-id">#0{{ pokemon.id }}</p>
        <h2 class="pokemon-nombre">{{ pokemon.name| titlecase }}</h2>
      </div>
      <div class="pokemon-tipos">
        @for (type of pokemon.types; track $index) {
          <p  [className]="type.type.name "> {{ type.type.name }}  </p>
        }
      </div>
      <div class="pokemon-stats">
        @for (stat of pokemon.stats.slice(0,2); track $index) {
          <!--                                    < Aqui validamos si esta en la pocision 1 muestra la M esto lo hacemos con un operador ternario      -->
          <p class="stat"> {{ stat.base_stat }} {{ $index === 1 ? 'M': '' }} </p>
        }
      </div>
    </div>
    <button (click)="changePage( pokemon.sprites.front_default)" > Show Image </button>

  </div>
}
