.pokemon:hover {
  transform: translateY(-5px);
  transition: transform 0.5s ease; /* Ajusta la duración de la animación según tus preferencias */
}


/* Estilos para card pokemon */

.pokemon {
  border-radius: 1rem;
  background-color: var(--clr-white);
  box-shadow: 0 0 3rem -1rem rgba(0, 0, 0, .25);
  padding-block: 1rem;
  text-transform: uppercase;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  font-family: "Viga", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pokemon-id-back {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translateX(-50%);
  font-size: 6rem;
  font-weight: 800;
  z-index: -1;
  color: rgba(166, 166, 166, 0.514);
}

.pokemon-imagen {
  padding-inline: 1rem;
  display: flex;
  justify-content: center;
}

.pokemon-imagen img {
  width: 100%;
  max-width: 6rem;
}

.pokemon-info {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  padding-inline: 1rem;
  align-items: center;
  text-align: center;
}

.nombre-contenedor {
  display: flex;
  align-items: center;
  column-gap: .5rem;
  flex-wrap: wrap;
  justify-content: center;
}

.pokemon-id {
  background-color: rgba(191, 191, 191, 0.505);
  padding: .25rem .5rem;
  border-radius: 100vmax;
  font-size: .75rem;
  font-weight: 500;
}

.pokemon-nombre {
  font-size: 1.4rem;
  font-weight: bold;
}

.pokemon-tipos {
  display: flex;
  gap: .5rem;
  font-size: .85rem;
  /* font-weight: bold; */
  flex-wrap: wrap;
  justify-content: center;
}

.tipo {
  padding: .25rem .5rem;
  border-radius: 100vmax;
}

.pokemon-stats {
  display: flex;
  gap: 1rem;
  font-size: .85rem;
}

.stat {
  background-color: var(--clr-gray);
  padding: .25rem .5rem;
  border-radius: 100vmax;
}


@media screen and (max-width: 655px) {


  .pokemon-imagen img {
    width: 100%;
    max-width: 5rem;
  }

  .pokemon-info {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding-inline: 1rem;
    align-items: center;
    text-align: center;
  }

  .nombre-contenedor {
    display: flex;
    align-items: center;
    column-gap: .5rem;
    flex-wrap: wrap;
    justify-content: center;
  }

  .pokemon-id {
    background-color: rgba(191, 191, 191, 0.505);
    padding: .25rem .5rem;
    border-radius: 100vmax;
    font-size: .55rem;
    font-weight: 500;
  }

  .pokemon-nombre {
    font-size: 1.4rem;
    font-weight: bold;
  }

  .pokemon-tipos {
    display: flex;
    gap: .5rem;
    font-size: .65rem;
    /* font-weight: bold; */
    flex-wrap: wrap;
    justify-content: center;
  }

  .tipo {
    padding: .25rem .5rem;
    border-radius: 100vmax;
  }

  .pokemon-stats {
    display: flex;
    gap: 1rem;
    font-size: .65rem;
  }

  .stat {
    background-color: var(--clr-gray);
    padding: .25rem .5rem;
    border-radius: 100vmax;
  }
}
