<main  style="background-image: linear-gradient(0deg, rgb(7, 7, 7) 13%, rgba(24, 24, 24, 0.826) 100%), url(assets/image/pokeM.png)" >


  <section class="section-pikachu"  >


    <div class="content-info" style="background-image: url(assets/image/gray.png)" >
      <div class="img-pikachu">
        <img srcset="assets/image/pikachu.svg" alt="">
      </div>

      <div class="content-total">
        <div class="content-text">
          <h1 class="title-home">BIENVENIDO A   <span class="span-img"> <img class="img-logo" src="assets/image/pokestar.png" alt="Bootstrap" width="240" height="100 "> </span></h1>
          <p class="text-parr">
            <i class="fa-solid fa-circle-info" style="color: #131313;"></i> ¡Aquí podrás buscar y encontrar a tus Pokémon favoritos y aprender mucho sobre ellos.
          </p>
        </div>

        <div class="contentedor-botones">
          <app-buttons-home></app-buttons-home>
        </div>
      </div>

    </div>

  </section>

</main>
