
<section class="container-section" style="background-image: url(assets/image/container.png)">




  <div>
    <app-filter-options (filterChange)="filterType($event)" ></app-filter-options>
  </div>


  <div>
    <app-pagination-pokemon [page]="currentPage" [total]="totalPage" (pageChange)="onPageChange($event)"></app-pagination-pokemon>
  </div>



  <div class="container container-pokemons">

    <div>
     <app-show-image [image]="image"></app-show-image>
    </div>

    <div class="game-container fade-in" >
      @for (data of listPokemon; track $index) {
      <app-card-pokemon [pokemon]="data" (showImage)="getshowImage($event)"></app-card-pokemon>
      }
   </div>
  </div>




</section>
