
<section class="container-section" style="background-image: url(assets/image/container.png)">


  <h1 class="text-center">All pokemons</h1>


  <!-- <button (click)="filterType('')" > click</button> -->

  <div>
    <app-filter-options  ></app-filter-options>
  </div>


  <div>
    <app-pagination-pokemon (pageChange)="onPageChange($event)"></app-pagination-pokemon>
  </div>

  <div class="container">
    <div class="game-container">
      @for (data of listPokemon; track $index) {
      <app-card-pokemon [pokemonData]="data" ></app-card-pokemon>
      }
   </div>
  </div>




</section>
