<nav aria-label="Page navigation example" >
  <ul class="pagination justify-content-center">
    <li class="page-item " >
      <button  class="btn-options" (click)="changePage( page - 1  )" > <i class="fa-solid fa-arrow-left fa-xl" ></i>  </button>
    </li>
    @for (item of [page - 1 ,page,page + 1,]; track $index) {
      @if (item > 0) {
        <li class="page-item"><button class="btn-options" (click)="changePage( item )"  href="#"> {{ item }} </button></li>
      }
    }

    <li class="page-item">
      <button class="btn-options" (click)="changePage( page + 1 )"  [disabled]="page > maxPage"  href="#"> <i class="fa-solid fa-arrow-right fa-xl" ></i>  </button>
    </li>
  </ul>
</nav>
