<div class="container c-footer">
  <div class="row">
    <div class="col-md-3 logo">
      <img src="assets/image/logo.png" class="img-footer mb-3"  alt="Logo de Gameverse">
    </div>
    <div class="col-md-3">
      <h5>Links <i class="fa-solid fa-link" style="color: #ffd500;"></i></h5>
      <ul class="list-unstyled">

        <li><a href="https://store.steampowered.com" target="_blank">Steam <i class="fa-brands fa-steam" style="color: #ffffff;"></i></a>  </li>
        <li><a href="https://www.xbox.com" target="_blank">Xbox <i class="fa-brands fa-xbox " style="color: #ffffff;"></i> </a></li>
        <li><a href="https://playstation.com" target="_blank">Playstation <i class="fa-brands fa-playstation " style="color: #ebebeb;"></i> </a></li>
      </ul>
    </div>
    <div class="col-md-3">
      <h5>Social networks <i class="fa-solid fa-globe" style="color: #ffd500;"></i></h5>
      <ul class="list-unstyled">
        <li><a href="https://github.com/STARS1LVER">Github <i class="fa-brands fa-github" style="color: #ffffff;"></i></a></li>
        <li><a href="#">Linkedin <i class="fa-brands fa-linkedin" style="color: #ffffff;"></i> </a></li>

      </ul>
    </div>
    <div class="col-md-3">
      <h5>Copyright <i class="fa-regular fa-copyright" style="color: #ffd500;" ></i></h5>
      <p>© 2023 Test. All rights reserved.</p>
    </div>
  </div>
</div>
